spring:
  application:
    name: taskboard

  datasource:
    url: jdbc:mysql://localhost:3306/taskboard
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

